<!DOCTYPE html>

<html lang="en">
<head>
	<title>Charitown</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- JS & CSS Files -->
	<link href="..\..\static\charitown\modules\bootstrap-3.3.7\dist\css\bootstrap.min.css" rel="stylesheet">
	<script language="JavaScript" type="text/javascript" src="..\..\static\charitown\modules\jquery-1.12.4.js"></script>
	<script language="JavaScript" type="text/javascript" src="..\..\static\charitown\modules\bootstrap-3.3.7\dist\js\bootstrap.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="..\..\static\charitown\modules\DataTables\datatables.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="..\..\static\charitown\modules\DataTables\DataTables-1.10.16\js\jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="..\..\static\charitown\modules\DataTables\DataTables-1.10.16\css\dataTables.bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="..\..\static\charitown\css\navbar_footbar_style.css">
	<link rel="stylesheet" href="..\..\static\charitown\css\login_style.css">
</head>

<body>
	<main>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-centered">
					<div class="row"><img id="login-icon" class="img-responsive" src="..\..\static\charitown\images\logo-b.png"></div>
					<div class="row" id="login-label"><h4><center>Sign in</center></h4></div>
					<div class="row" id="login-box">
						<form>
							<div class="form-group">
								<label for="inputEmail">Username or email address</label>
								<input type="email" class="form-control" id="inputEmail" placeholder="Username">
							</div>
							<div class="form-group">
								<label for="inputPassword">Password</label>
								<input type="password" class="form-control" id="inputPassword" placeholder="Password">
							</div>
							<center><button type="submit" class="btn btn-default">Submit</button></center>
						</form>
					</div>
					<div class="row" id="login-box">
						<center>
							<button type="submit" class="btn btn-success">Create an account</button>
							<button type="submit" class="btn btn-warning">Forgot password</button>
						</center>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- FOOTER -->
	<footer class="footer">
		<div class="container-fluid">
			<p class="left">Created for Blue Hacks 2018</p>
			<p class="right">Charitown</p>
		</div>
	</footer>

</body>
</html>