main {
	margin-top: 65px;
}

#title{
	background-color: white;
	padding: 0;
	padding-top: 20px;
}

#subtitle{
	background-color: white;
	padding: 0;
}

.container-fluid.a{
	padding: 30px 20px;
	width: 90%;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#member, #communities, #cities{
	background-color: #efefef;
	margin-bottom: 60px;
}

.container-fluid.a#cities{
	margin-bottom: 60px;

}